@import "../../sass/mixins";

.factoryContainer {
  @include dimensions(50%, auto);
  @include flex(column, center, center);
  h4 {
    font-family: "Gilroy-Light";
    font-size: 18px;
    font-weight: 200;
    margin: 10px 0px;
    color: black;
  }
  h3 {
    font-family: "Gilroy-Bold";
    font-size: larger;
    color: black;
  }
  hr {
    border: 1px solid #333;
    width: 80%;
    margin: 10px 0px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #d56aa0, #333, #d56aa0);
  }
  .factoryWrapper {
    @include dimensions(90%, auto);
    @include flex(column, center, center);
    border-radius: 25px;
    margin: 2% 2%;
    background-color: #d56aa0;
    // border: 1px black solid;
  }
  .factoryName {
    @include dimensions(100%, auto);
    @include flex(column, center, center);
  }
  .factoryMinMax {
    @include dimensions(100%, auto);
    @include flex(row, center, center);
    .minContainer,
    .maxContainer {
      @include dimensions(50%, auto);
      @include flex(column, center, center);
      .header {
          @include flex(column, center, center);
      }
    }
  }
  .numberToGenerate {
      @include dimensions(100%, auto);
      @include flex(column, center, center);
  }
  .factoryButtons {
      @include dimensions(100%, auto);
      @include flex(row, center, center);
      button {
          margin: 0% 3%;
      }
  }
  .factoryGenerated {
      @include dimensions(100%, auto);
      @include flex(row, center, center);
      flex-wrap: wrap;
  }
}
